.Header {
  
  padding: 2%;
  text-align: center;
  font-family: cursive;
  color: aliceblue;
}
/* .Header {
  padding: 15%;
  text-align: center;
} */
 
@media screen and (max-width: 1110px){
    .Header {
  
        padding: 2%;
        text-align: center;
        font-family: cursive;
        color: aliceblue;
      }
.profile-picture{
margin: 0 0px 0 80px;
}
.profile-details-name{
font-size: 20px;
}
.profile-details-role .primary-text{
font-size: 12px;
}
.profile-options .btn{
width: 120px;
padding: 11px 0;
z-index: 700
}
}

@media screen and (max-width: 910px){
    .Header {
  
        padding: 2%;
        text-align: center;
        font-family: cursive;
        color: aliceblue;
      }
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
}

@media screen and (max-width: 810px){
    .Header {
  
        padding: 12px 0;
        text-align: center;
        font-family: cursive;
        color: aliceblue;
      }
    .profile-picture{
        margin: 0 !important;
    }
   .profile-parent{
      flex-direction: column-reverse;
      margin: 40px 0 0 0;
   } 
   .profile-options{
       display: flex;
       justify-content: space-between;
   }
   .profile-details{
       margin: 25px 0 0;
   }
    .profile-options,
     .highlighted-btn{
        text-align: center;
   }
}

@media screen and (max-width: 375px){
    .Header {
  
        padding: 2%;
        text-align: center;
        font-family: cursive;
        color: aliceblue;
      }
    .profile-picture{
        height: 275px;
        width: 275px;
        margin-top: -90px;
    }
    .profile-details{
        width: 90%;
    }
}

